body {
  margin: 0;
  padding: 0;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}
button,
input {
  all: unset;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}
button {
  text-align: center;
}

@mixin enlightment-anim {
  transition: ease;
  transition: 800ms;
  transition-delay: 200ms;
}
@mixin enlightment-hover {
  box-shadow: (inset 0 0 20px white), (0 0 5px white), (0 0 10px white),
    (0 0 30px white);
}
#body-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100vh;
  footer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    a {
      text-decoration: none;
      transition: 500ms;
      color: gray;
    }
    a:hover {
      color: white;
    }
  }
  #header {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-top: 100px;
    @include enlightment-anim();
    h1,
    h2 {
      margin: 10px;
    }
  }
  #header:hover {
    @include enlightment-hover();
  }
  #todo-list-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    #add-container {
      display: flex;
      margin-top: 10px;
      #add {
        all: unset;
        background-color: transparent;
        color: white;
        height: 2rem;
        border: 1px solid white;
        border-radius: 1rem;
        box-shadow: inset 0 0 10px white;
        flex-grow: 1;
        margin-right: 10px;
        padding: 0 10px;
        transition: 500ms;
      }
      #add:focus {
        box-shadow: inset 0 0 5px white;
      }
      button {
        height: auto;
        width: 4rem;
        border: 1px solid white;
        border-radius: 1rem;
        box-shadow: inset 0 0 5px white;
        background-color: transparent;
        color: white;
        transition: all 250ms;
      }
      button:hover {
        box-shadow: inset 0 0 2px white;
      }
      button:active {
        box-shadow: inset 0 0 20px white;
      }
    }
    #todo-list {
      padding: 0;
      li {
        margin: 0;
        list-style-type: none;
        height: 2rem;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        @include enlightment-anim();
        label {
          padding-left: 10px;
          display: flex;
          align-items: center;
          height: 1.6rem;
          width: 4rem;
          margin: 0.2rem;
          border-radius: 0.8rem;
          border: 1px solid white;
          transition: 500ms;
        }
        p {
          margin: 0;
          flex-grow: 1;
          margin-left: 10px;
          transition: 500ms;
        }
        button {
          height: 1.6rem;
          width: 1.6rem;
          margin: 0 0.2rem;
          border-radius: 0.8rem;
          background-color: transparent;
          color: white;
          border: 1px solid rgb(202, 202, 202);
          box-shadow: inset 0 0 5px white;
          transition: 250ms;
          transition-timing-function: ease;
        }
        button:active {
          box-shadow: (inset 0 0 10px white), (0 0 10px white);
        }
      }
      li:hover {
        @include enlightment-hover();
      }
      .done {
        :not(label, button) {
          color: gray;
          text-decoration-line: line-through;
        }
        label {
          background-color: rgba(128, 128, 128, 0.24);
          color: gray;
        }
      }
      .doing {
        :not(label, button) {
          color: rgb(255, 255, 255);
        }
      }
      .pending {
        :not(label, button) {
          color: rgb(151, 151, 151);
        }
        label{
          color: rgba(128, 128, 128, 0.356);
        }
      }
    }
  }
}
